@font-face {
  font-family: "Basement Grotesque";
  src: url("BasementGrotesque.woff2") format("woff2"),
    url("BasementGrotesque.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
