@tailwind base;
@tailwind components;
@tailwind utilities;

@layer clean-n-input {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  }
}

@layer text-stroke {
  .text-stroke {
    -webkit-text-stroke: 1px #FFFFFF;
  }
}

@import "./fonts/basement-grotesque.css";

html,
body,
#__next {
  background: black;
  color: white;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Basement Grotesque', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  cursor: none !important;
}


.container {
  @apply max-w-[1440px] px-4 md:px-8 mx-auto;
}